.cart-container {
  padding: 20px;
  background-color: #f0f0f5;
  min-height: 100vh;
}

.cart-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

.back-button {
  position: absolute;
  top: 105px;
  left: 110px;
  font-family: Saira;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #617480;
  background: none !important;
}

.back-button i {
  font-size: 24px;
  margin-right: 5px;
}

.cart-header {
  margin-left: 100px;
  margin-top: 50px;

  .title {
    font-family: Saira;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #41414d;
  }

  .cart-header-info {
    display: flex;
    gap: 5px;

    .total-produtos {
      font-family: Saira;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0%;
      vertical-align: middle;
      color: #41414d;
    }

    .value {
      font-family: Saira;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0%;
      vertical-align: middle;
      color: #0e0e0f;
    }
  }
}

.cart-items {
  width: 736px;
  margin-left: 100px;
}

.image {
  width: 256px !important;
  height: 211px !important;
}

.cart-item {
  display: flex;
  align-items: center;
  background: #fff;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.cart-item img {
  width: 100px;
  height: auto;
  margin-right: 15px;
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 20px;
}

.item-header h2 {
  font-size: 18px;
  margin: 0;
}

.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  color: red;
}

.description {
  font-size: 12px;
  margin: 2px;
  margin-bottom: 15px;
  color: #555;
}

.price {
  font-weight: bold;
  margin-top: 15px;
}

.cart-summary {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 352px;
  height: 700px;
  position: absolute;
  top: 120px;
  left: 928px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.empty-cart {
  height: 520px !important;
}

.empty-info {
  margin-top: 170px !important;
}

.cart-summary h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.cart-summary hr {
  margin: 4px 0;
  width: 100%;
}

.summary-item,
.summary-sub,
.summary-entrega,
.summary-total {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.summary-sub {
  margin-top: 30px;
}

.total {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.add-purchase-button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background-color: #51b853;
  color: #f5f5fa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.cart-info {
  margin-top: 355px;
  width: 100%;
}

.cart-info p {
  margin: 5px 0;
}

.cart-info a {
  color: #737380;
  text-decoration: none;
}

.content-header {
  height: 75px !important;
}

.item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
}

select {
  padding: 8px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #e6e3e3;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  transition: border-color 0.2s, box-shadow 0.2s;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23666'%3E%3Cpath d='M4 6l4 4 4-4z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}

select:focus {
  border-color: #51b853;
  box-shadow: 0 0 0 3px rgba(81, 184, 83, 0.2);
  outline: none;
}

option {
  background-color: #fff;
  color: #333;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 8px;

  button {
    background-color: #f0f0f0;
    border: none;
    padding: 0px 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      background-color: #ddd;
    }
  }

  span {
    min-width: 20px;
    text-align: center;
  }
}

