<div class="content-header">
  <app-header></app-header>
</div>

<div class="spinner-container" *ngIf="loading">
  <mat-spinner diameter="50"></mat-spinner>
</div>

<button
  class="back-button"
  [routerLink]="products.length > 0 ? '/product' : '/home'"
>
  <i class="material-icons">arrow_back</i> {{ "back" | translate }}
</button>

<div class="cart-container">
  <div class="cart-header">
    <h1 class="title">{{ "your_cart" | translate }}</h1>
    <div class="cart-header-info">
      <p class="total-produtos">
        {{ "total_products" | translate : { quantity: totalQuantity } }}
      </p>
      <p class="value">{{ totalPrice | currency : "BRL" }}</p>
    </div>
  </div>

  <div class="cart-content">
    <div class="cart-items">
      <div class="cart-item" *ngFor="let item of products">
        <img class="image" [src]="item.image_url" alt="{{ item.name }}" />
        <div class="item-info">
          <div class="item-header">
            <h2>{{ item.name }}</h2>
            <button (click)="removeItem(item)" class="delete-button">
              <i class="material-icons">delete_forever</i>
            </button>
          </div>
          <p class="description">{{ item.description }}</p>
          <div class="item-details">
            <div class="quantity-control">
              <button
                (click)="decreaseQuantity(item)"
                [disabled]="item.quantity <= 1"
              >
                −
              </button>
              <span>{{ item.quantity }}</span>
              <button (click)="increaseQuantity(item)">+</button>
            </div>
            <p class="price">
              {{
                (item.price_in_cents * item.quantity) / 100
                  | currency : "BRL"
              }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="cart-summary" [ngClass]="{ 'empty-cart': hasFewProducts }">
      <h2>{{ "order_summary" | translate }}</h2>
      <div class="summary-sub">
        <p>{{ "subtotal" | translate }}</p>
        <p>{{ totalPrice | currency : "BRL" }}</p>
      </div>
      <div class="summary-entrega">
        <p>{{ "delivery" | translate }}</p>
        <p>R$ 40,00</p>
      </div>
      <hr class="divider" />
      <div class="summary-total">
        <p class="total">{{ "total" | translate }}</p>
        <p>
          {{
            totalPrice > 0
              ? (totalPrice + 40 | currency : "BRL")
              : (0 | currency : "BRL")
          }}
        </p>
      </div>

      <button class="add-purchase-button" (click)="finishPurchase()">
        {{ "finish_purchase" | translate }}
      </button>

      <div class="cart-info" [ngClass]="{ 'empty-info': hasFewProducts }">
        <p>
          <a href="#">{{ "help" | translate }}</a>
        </p>
        <p>
          <a href="#">{{ "refunds" | translate }}</a>
        </p>
        <p>
          <a href="#">{{ "shipping" | translate }}</a>
        </p>
        <p>
          <a href="#">{{ "exchanges" | translate }}</a>
        </p>
      </div>
    </div>
  </div>
</div>
