<footer class="footer">
  <div class="footer__content">
    <div class="footer__section">
      <h3>{{ 'capputeeno' | translate }}</h3>
      <p>{{ 'description' | translate }}</p>
    </div>

    <div class="footer__section">
      <h4>{{ 'usefulLinks' | translate }}</h4>
      <ul>
        <li><a href="#">{{ 'aboutUs' | translate }}</a></li>
        <li><a href="#">{{ 'privacyPolicy' | translate }}</a></li>
        <li><a href="#">{{ 'termsOfUse' | translate }}</a></li>
        <li><a href="#">{{ 'contact' | translate }}</a></li>
      </ul>
    </div>

    <div class="footer__section">
      <h4>{{ 'payment' | translate }}</h4>
      <div class="footer__payments">
        <img src="../../../assets/icons/icons8-visa-48.png" alt="Visa" />
        <img src="../../../assets/icons/icons8-mastercard-48.png" alt="Mastercard" />
      </div>
    </div>

    <div class="footer__section">
      <h4>{{ 'language' | translate }}</h4>
      <div class="footer__languages">
        <img src="../../../assets/icons/brasil.png" alt="Brasil" />
        <img src="../../../assets/icons/eua.png" alt="EUA" />
        <img src="../../../assets/icons/span.png" alt="Span" />
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <span>{{ 'copyright' | translate }}</span>
    <span>{{ 'version' | translate }}</span>
  </div>
</footer>
