<section>
  <div class="header">
    <div>
      <h2 class="title" routerLink="home">capputeeno</h2>
    </div>

    <div class="header-container">
      <div class="search-container" *ngIf="router.url === '/'">
        <mat-form-field appearance="outline" class="search-field">
          <input
            class="search-input"
            matInput
            [placeholder]="'search_placeholder' | translate"
            [formControl]="searchControl"
          />
          <button mat-icon-button class="search-icon">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="scrolling-banner" *ngIf="router.url !== '/'">
        <div class="scrolling-text">
          💳 {{ "installments_text" | translate }} &nbsp;&nbsp;&nbsp; 🚚
          {{ "fast_shipping_text" | translate }}
        </div>
      </div>

      <div class="shopping-container">
        <div class="shopping-inner">
          <a class="icon-shopping" (click)="validateCart()">
            <img
              src="../../../assets/icons/shopping-bag.svg"
              alt="Shopping Bag"
            />
            <span class="qtd-icon">
              {{ cartItemCount }}
            </span>
          </a>

          <div class="language-container">
            <button mat-icon-button [matMenuTriggerFor]="languageMenu">
              <mat-icon>language</mat-icon>
              <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <span class="language-text">
              {{ currentLang | uppercase }}
            </span>
          </div>

          <mat-menu #languageMenu="matMenu">
            <button mat-menu-item (click)="switchLanguage('en')">
              English
            </button>
            <button mat-menu-item (click)="switchLanguage('pt')">
              Português
            </button>
            <button mat-menu-item (click)="switchLanguage('es')">
              Español
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</section>
