<section>
  <div class="header">
    <div>
      <h2 class="title" routerLink="home">capputeeno</h2>
    </div>

    <div class="header-container">
      <div class="search-container">
        <input
          type="text"
          placeholder="Procurando por algo especifico?"
          (input)="onSearch($event)"
        />
        <i class="material-icons">search</i>
      </div>

      <div class="shopping-container">
        <a routerLink="/shopping-cart">
          <img src="../../../assets/svgs/shopping-bag.svg" alt="Shopping Bag" />
          <img
            src="../../../assets/svgs/qtd-msg.svg"
            alt="Quantity"
            class="qtd-icon"
          />
        </a>
      </div>
    </div>
  </div>
</section>
