.product-container {
  background-color: #f0f0f5;
  margin: auto;
  padding: 36px 34px;
  position: relative;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 40px;
  margin-left: 70px;
  margin-top: 15px;
}

.product-image img {
  object-fit: cover;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.category {
  font-family: Saira;
  font-weight: 400;
  font-size: 18px;
  color: #41414d;
}

.name {
  font-family: Saira;
  font-weight: 300;
  font-size: 32px;
  color: #41414d;
}

.price {
  font-family: Saira;
  font-weight: 600;
  font-size: 20px;
  color: #09090a;
}

.frete {
  font-family: Saira;
  font-weight: 400;
  font-size: 12px;
  color: #41414d;
}

.description-label {
  font-family: Saira;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #737380;
}

.description {
  font-family: Saira;
  font-weight: 400;
  font-size: 14px;
  color: #41414d;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #115d8c;
  color: white;
  font-size: 18px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  gap: 10px;
}

.add-to-cart:hover {
  background-color: #0e4a6f;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 105px;
  font-family: Saira;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #617480;
}

.back-button i {
  font-size: 20px;
  margin-right: 5px;
}

@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: 1fr;
    margin-left: 0;
  }

  .product-image img {
    max-width: 90%;
    margin: 0 auto;
  }

  .back-button {
    font-size: 12px;
    left: 10px;
  }
}

@media (max-width: 600px) {
  .product-container {
    padding: 40px;
    height: 80vh;
  }

  .product-info {
    gap: 10px;
  }

  .product-image img {
    max-width: 80%;
  }

  .name {
    font-size: 22px;
  }


  .back-button {
    background: none;
    font-size: 12px;
    left: 10px;
    padding: 5px;
  }

  .add-to-cart {
    font-size: 16px;
    padding: 10px;
  }
}
