<div class="content-header">
  <app-header></app-header>
</div>

<div *ngIf="product; else noProduct" class="product-container">
  <button class="back-button" [routerLink]="'/'">
    <i class="material-icons">arrow_back</i> {{ 'back' | translate }}
  </button>

  <div class="product-grid">
    <div class="product-image">
      <img [src]="product.image_url" alt="{{ product.name }}">
    </div>

    <div class="product-info">
      <span class="category">{{ 'category_mug' | translate }}</span>
      <h2 class="name">{{ product.name }}</h2>

      <p class="price">{{ product.price_in_cents / 100 | currency: 'BRL' }}</p>

      <span class="frete">{{ 'frete_info' | translate }}</span>

      <span class="description-label">{{ 'description_label' | translate }}</span>
      <p class="description">{{ product.description }}</p>

      <button class="add-to-cart" (click)="addToCart(product)">
        <i class="material-icons">shopping_cart</i> {{ 'add_to_cart' | translate }}
      </button>
    </div>
  </div>
</div>

<ng-template #noProduct>
  <p>{{ 'not_found' | translate }}</p>
</ng-template>
