html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mdc-snackbar__surface {
  margin-top: 30px;
}

.mat-mdc-snack-bar-label {
  font-size: 18px !important;
}

.mdc-button__label {
  font-size: 20px !important;
}
